*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}


span{
    color: #FF6a00;
}

/* Section Header */

.promo{
    background: linear-gradient(90deg, rgba(255,106,0,1) 0%, rgba(138,43,226,1) 100%);
    color: #fff;
    text-align: center;
    font-size: 16px;
    padding: 5px 0;
}

.promo a{
    color: #fff;
}

.promo a:hover{
    text-decoration: underline;
    color: #fff;
}

.logo{
    width: 250px;
    height: auto;
    padding: 5px 15px;
    margin-top: 12px;
    margin-left: 50px;
    background: linear-gradient(90deg, rgba(255,106,0,1) 0%, rgba(138,43,226,1) 100%);
    border-radius: 50px;
}


nav{
    background: #fff;
    height: 80px;
    width: 100%;
    box-shadow: 0px 3px 10px 1px rgba(119, 119, 119, 0.5);
}

nav ul{
    float: right;
    margin-right: 350px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 35px;
}

nav ul li a{
    color: #707070;
    font-size: 17px;
    padding: 7px 13px;
}

a.active, a:hover{
    color: #FF6a00;
}

.checkbtn{
    font-size: 30px;
    color: #707070;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}


.ariane{
    margin-top: 50px;
    margin-left: 50px;
}

/* Section Cards */

.section{
    margin-top: 50px;
    padding: 30px 0;
    background-color: #fff;
}

.title{
    font-family: 'Permanent Marker', serif;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 3px;
    margin-right: -3px;
    margin-bottom: 5rem;
    text-align: center;
    color: #FF6a00;
    position: relative;
}

.title::after{
    content: " ";
    width: 160px;;
    height: 10px;
    background-color: #445ae3;
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 32px;
}

.card-wrapper{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 32px;
    box-shadow: .8px .8px 48px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.card .card-img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.profile-img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -70px;
    z-index: 999;
    box-shadow: .8px .8px 48px rgba(0, 0, 0, 0.2);
}


.card h2{
    margin-top: 10px;
    font-size: 21px;
    font-weight: normal;
}

.job-title{
    color: #FF6a00;
    font-size: 18px;
    margin-top: 10px;
}

.about{
    font-size: 17px;
    margin: 24px 10px;
    text-align: center;
    line-height: 30px;
}

.card .btn{
    padding: 10px 20px;
    background-color: #445ae3;
    border-radius: 32px;
    margin: 16px 0;
    text-transform: uppercase;
    color: #eee;
    font-size: 16px;
    transition: all .5s;
}

.card .btn:hover{
    background-color: #FF6a00;
}


.social{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 30px 30px;
    margin-top: 24px;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.social i{
    font-size: 30px;
    transition: color .5s;
}

.fa-facebook-square{
    color: #3b5999;
}

.fa-twitter{
    color: #55acee;
}

.fa-instagram{
    color: #FF6a00;
}

.fa-facebook-square:hover, .fa-twitter:hover, .fa-instagram:hover{
    color: #8A2BE2;
}




/* Section Bandeau*/

.bandeau{
    display: flex;
    justify-content: space-between;
    width: 1250px;
    margin: 0 auto;
    margin-top: 80px;
}

.picto{
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    width: 380px;
}

.picto p{
    position: absolute;
    top: 50px;
    left: 100px;
    font-size: 16px;
}

.picto h3{
    position: absolute;
    top: 20px;
    left: 100px;
    font-size: 17px;
}

.p1 img{
    width: 100px;
    height: auto;
}

.p2 img{
    width: 100px;
    height: auto;
}



/* Section Footer */

footer{
    background: linear-gradient(90deg, rgba(255,106,0,1) 0%, rgba(138,43,226,1) 100%);
    height: 250px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    color: #fff;
    margin-top: 20px;
}

.left{
    width: 33.33%;
    line-height: 40px;
    text-align: center;
}

.left a{
    color: #fff;
}

.left a:hover{
    text-decoration: underline;
}

.left img{
    width: 350px;
    height: auto;
    margin-top: 10px;
}

.center{
    margin-top: 10px;
    width: 33.33%;
    line-height: 40px;
    text-align: center;
}

.center .subtitle{
    font-weight: bold;
    font-size: 18px;
}

.center a{
    color: #fff;
}

.center a:hover{
    text-decoration: underline;
}

.social-media{
    margin-top: 15px;
    font-size: 30px;
}

.social-media i{
    margin-right: 15px;
}

.social-media i:hover{
    font-size: 35px;
}

.white{
    color: #fff;
}


.right{
    width: 33.33%;
    line-height: 40px;
    text-align: center;
    margin-top: 10px;
}

.right a{
    color: #fff;
}

.right a:hover{
    text-decoration: underline;
}
